<h2 style="margin-top: 60px; margin-bottom: 60px; margin-left: 30px; text-align: center;">Operations</h2>

<div class="container m-8">
    <div class="d-flex justify-content-around mt-4">
        <div class="card border-info text-center" style="max-width: 8rem;">
            <div class="card-header">Add</div>
            <div class="card-body py-2">
                <h6 class="card-title" [id]="addCount">{{ addCount }}</h6>
            </div>
        </div>

        <div class ="card border-info text-center" style="max-width: 8rem;">
            <div class="card-header">Update</div>
                
            <div class="card-body py-2">
                    <h6 class="card-title" [id]="updateCount">{{ updateCount }}</h6>
            </div>
        </div>

        <div class ="card border-info text-center" style="max-width: 8rem;">
            <div class="card-header">Delete</div>
                
            <div class="card-body py-2">
                    <h6 class="card-title" [id]="deleteCount">{{ deleteCount }}</h6>
            </div>
        </div>
    </div>
</div>



