<!DOCTYPE html>
<html Lang="en">

<body>
    <h2 style="margin-top: 60px; margin-bottom: 60px; margin-left: 30px; text-align: center;">Category List</h2>

    <div class="container m-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Category ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Events Count</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="categories.length == 0">
                    <td scope="row" colspan="8"class="text-center text-bold">No category found</td>
                </tr>

                <tr *ngFor="let category of categories">
                    <td>{{ category.catId }}</td>
                    <td>{{ category.name | capital }}</td>
                    <td>{{ category.description }}</td>

                    <td>
                        <img *ngIf="category.image"
                            [src]="category.image.startsWith('/') ? category.image : '/assets/Images/' + category.image"
                            alt="Category Image" style="width: 500px; height: auto;" />
                        <img *ngIf="!category.image" [src]="'/assets/Images/Categoryimg.png'" alt="Default Image"
                            style="width: 500px; height: auto;" />
                    </td>

                    <td>{{ category.createdAtFormatted }}</td>
                    <td>{{ category.eventsList.length }}</td>

                    <td>
                        <div class="buttons-contain">
                            <a [routerLink]="['/display-category/', category.catId]" class="btn btn-primary" role="button">display</a>
                        </div>
                     
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>