<h2 style="margin-top: 60px; margin-bottom: 60px; margin-left: 30px; text-align: center;">Stats 1</h2>

   <div class="container m-8">
        <div class="d-flex justify-content-around mt-4">
            <div class="card border-info text-center" style="max-width: 8rem;">
                <div class="card-header">Categories</div>
                <div class="card-body py-2">
                    <h6 class="card-title" [id]="categoryCount">{{ categoryCount }}</h6>

                </div>
            </div>

            <div class ="card border-info text-center" style="max-width: 8rem;">
                <div class="card-header">Events</div>
                <div class="card-body py-2">
                    <h6 class="card-title" [id]="{{ eventCount }}">0</h6>

                </div>
            </div>

