<body>
    <h2 style="margin-top: 60px; margin-bottom: 30px; margin-left: 30px; text-align: center;">Display Category</h2>

    <table>
        <tbody>
            <tr *ngIf="categories">
                <td>object id:</td>
                <td>{{ categories._id }}</td>
            </tr>
            <tr *ngIf="categories">
                <td>Category ID:</td>
                <td>{{ categories.catId}}</td>
            </tr>
            <tr *ngIf="categories">
                <td>Name:</td>
                <td>{{ categories.name  | capital  }}</td>
            </tr>
            <tr *ngIf="categories">
                <td>Description:</td>
                <td>{{ categories.description }}</td>
            </tr>
            <tr *ngIf="categories">
                <td>Created Date Time:</td>
                <td>{{ categories.createdAtFormatted }}</td>
            </tr>

            <tr>
                <td>Image:</td>
                <img *ngIf="categories.image"
                    [src]="categories.image.startsWith('/') ? categories.image : '/assets/Images/' + categories.image"
                    alt="Category Image" style="width: 500px; height: auto;" />
                <img *ngIf="!categories.image" [src]="'/assets/Images/Categoryimg.png'" alt="Default Image"
                    style="width: 500px; height: auto;" />
            </tr>
        </tbody>
    </table>
    

    <div *ngIf="events.length > 0">
        <table class="container m-3">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Tickets Available</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let event of events">
                <tr> 
                    <td>{{ event.eventId }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startTimeFormatted }}</td>
                    <td>{{ event.endTimeFormatted }}</td>
                    <td>{{ event.duration }}</td>
                    <td>
                        <input type="checkbox" [disabled]="event.isActive !== true" [checked]="event.isActive === true">
                    </td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.availableTickets }}</td>
                    <td>
                        <div class="buttons-contain">
                            <a [routerLink]="['/display-event/' + event.eventId]" class="btn btn-primary" role="button">display</a>
                        </div>
                    </td> 
                </tr>
            </tbody>
            
        </table>
       
    </div>
    <div *ngIf="events.length === 0" class="text-center" style="margin-top: 20px;">
        <h6 class="text-info">There are no events in this category.</h6>
    </div>
    
    
</body>