.buttons-contain {
    text-align: left;
    margin-left: 20px;
}

.btn-primary-unclicked {
    background-color: white;
    color: #007bff; 
  }

  .btn-primary-clicked {
    background-color: #007bff;
    color: white;
  }
  
.container1 {
    text-align: left;
    margin-top: 10px;
    margin-left: 21px;
}

.container2 {
    text-align: center;
    margin-top: 10px;
    margin-left: 21px;
}

.logo {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;

}