<img src="assets/Images/Appbanner.png" alt="events" style="width: 100%; height: auto;">

<div class="container1">
  <p>Task 1: Jade</p>
</div>
<div class="buttons-contain">
  <a routerLink="/add-category" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Add Category</a>
  <a routerLink="/list-categories" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">List Category</a>
  <a routerLink="/delete-category/" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Delete Category</a>
  <a routerLink="/update-category/" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Update Category</a>
  <a routerLink="/speech" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Text to Speech</a>
  <a routerLink="/stats1" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">stats1</a>
</div>

<div class="container1">
  <p>Task 2: Sidd</p>
</div>
<div class="buttons-contain">
  <a routerLink="/add-event" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Add Event</a>
  <a routerLink="/list-events" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">List Event</a>
  <a routerLink="/delete-event" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Delete Event</a>
  <a routerLink="/update-event" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Update Event</a>
  <a routerLink="/translation" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Translation</a>
  <a routerLink="/operations" class="btn btn-primary btn-primary-unclicked m-1" routerLinkActive="btn-primary-clicked">Operations</a>
</div>

<router-outlet></router-outlet>
<br>
<app-footer></app-footer>