<div class="container1">
  <h3>Admin Panel</h3>
  <p>Task group 1 (Jade)</p>
</div>

<div class="buttons-contain">
<a routerLink="/add-category" class="buttons">Add Category</a>
<a routerLink="/list-categories" class="buttons">List Category</a>
<a routerLink="/delete-category" class="buttons">Delete Category</a>
<a routerLink="/display-category" class="buttons">Display Category</a>
<a routerLink="/update-category" class="buttons">Update Category</a>
</div>
<router-outlet></router-outlet>
<br>
<app-footer></app-footer>