<!DOCTYPE html>
<html lang="en">
    <body>
        <br><br><br><br><br><br><br><br>
        <div class="container-fluid d-flex justify-content-center align-items-center vh-100" >
            <div>
                <h4>Add Event</h4>
                <p>Fill in event details and click submit</p>

                <form>
                    <div class="form-group mb-4">
                        <label for="Name">Name</label>
                        <input type="text" [(ngModel)]="name" class="form-control" id="name" placeholder="Enter event name" required>
                    </div>
                
                    <div class="form-group mb-4">
                        <label for="Description">Description</label>
                        <textarea [(ngModel)]="description" class="form-control" id="description" rows=2></textarea>
                    </div>
                
                    <div class="form-group mb-4">
                        <label for="Image">Image</label>
                        <input type="text" [(ngModel)]="image" class="form-control" id="image" placeholder="Enter static resource path">
                    </div>
                
                    <div class="form-group mb-4">
                        <label for="StartDateTime">Start Date Time</label>
                        <input type="datetime-local" [(ngModel)]="startDateTime" class="form-control" id="startDateTime" required>
                    </div>
                            
                    <div class="form-group mb-4">
                        <label for="Duration">Duration In Minutes</label>
                        <input type="number" [(ngModel)]="duration" class="form-control" id="duration" placeholder="Event duration in minutes" min="1" required>
                    </div>
                
                    <div class="form-group mb-4">
                        <label for="IsActive">Is Active</label>
                        <input type="checkbox" [(ngModel)]="isActive" id="isActive" checked>
                    </div>
                        
                                    
                    <div class="form-group mb-6">
                        <label for="Capacity">Capacity</label>
                        <input type="number" [(ngModel)]="capacity" class="form-control" id="capacity" placeholder="Event Capacity" min=10 max=2000>
                    </div>
                        
                    <div class="form-group mb-4">
                        <label for="TicketsAvailable">Tickets available</label>
                        <input type="number" [(ngModel)]="ticketsAvailable" class="form-control" id="ticketsAvailable" placeholder="Tickets Available (optional)" min=0>
                    </div>
                        
                    <div class="form-group mb-4">
                        <label for="CategoryID">Category ID</label>
                        <input type="text" [(ngModel)]="categoryID" class="form-control" id="categoryID" placeholder="Enter category id" required>
                    </div>
                        
                    <div>
                        <button class="btn btn-primary" (click)="saveEvent()">Add Event</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
