
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-fluid d-flex justify-content-center mt-5 vh-100">
        <div>
            <h4>Text to Speech</h4>
            <p>Please fill text to convert</p>

            <form>
                <div class="form-group mb-8">
                    <textarea class="form-control" id="textToSpeech" [(ngModel)]="text"
                        placeholder="Enter text" rows="7"></textarea>
                </div>

                <button type="button" class="btn btn-success mt-4" (click)="textToSpeech()">Convert to Speech</button>
            

                <audio id="audioPlayer" controls>
                    <source id="mp3_src" src="audio-files/output.mp3" type="audio/mp3">
                </audio>
                
             
                <!-- C:\Users\Jade\Downloads\ass3\assignment-3\output.mp3 -->
                <!-- <script>
                    function textToSpeech() {
                        document.getElementById("audioPlayer").src ="output.mp3";
                        document.getElementById("audioPlayer").load();
                        document.getElementById("audioPlayer").play();
                    }
                </script> -->
            </form>
        </div>
    </div>
</body>

</html>



               
